<% @page_title = 'Edit Item' %>

<%= link_to("<< Back to Home", {:action => 'index'}) %>
<br />
<%= link_to("<< Back to Item List", {:action => 'list'}) %>

<div class="item edit">
  <h2>Edit Item</h2>

  <%= form_for(:item, :url => {:action => 'update', :id => @item.id}) do |f| %>

    <%= render(:partial => 'form_table', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Item") %>
    </div>

  <% end %>
</div>
