<% @page_title = 'Item List' %>

<div class="item list">
  <h2>Items</h2>

  <table class="listing" summary="Item list">
    <tr class="header">
      <th>Picture</th>
      <th>Item</th>
      <th>Description</th>
      <th>Owner</th>
      <th>Origin</th>
      <th>Secret Code</th>
      <th>Created At</th>
      <th>Updated At</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= image_tag(item.picture_path) %></td>
      <td><%= item.name %></td>
      <td><%= item.description %></td>
      <td><%= item.original_owner %></td>
      <td><%= item.origin %></td>
      <td><%= item.uid %></td>
      <td><%= item.created_at.to_s(:long) %></td>
      <td><%= item.updated_at.to_s(:long) %></td>
      <td class="actions">
        <%= link_to("Show", {:action => 'show', :id => item.id}, :class => 'action show') %>
        <%= link_to("Edit", {:action => 'edit', :id => item.id}, :class => 'action edit') %>
        <%= link_to("Delete", {:action => 'delete', :id => item.id}, :class => 'action delete') %>
      </td>
    <% end %>
  </table>
  <%= link_to("Back to index" , {:controller => 'tracker', :action => 'index'}) %>
</div>
