<%= link_to("<< Back to Home", {:controller => 'tracker', :action => 'index'}) %>
<br />
<%= link_to("<< Back to Item List", {:action => 'list'}) %>

<div class="item new">
  <h2>New Item</h2>

  <%= form_for(:item, :url => {:action => 'create'}) do |f| %>

    <table summary="Item form fields">
      <tr>
        <th>Item Name</th>
        <td><%= f.text_field(:name) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_field(:item_description) %></td>
      </tr>
      <tr>
        <th>Origin</th>
        <td><%= f.text_field(:origin) %></td>
      </tr>
      <tr>
        <th>Owner</th>
        <td><%= f.text_field(:original_owner) %></td>
      </tr>
      <tr>
        <th>Upload Picture</th>
        <td><b>TO DO</b></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= submit_tag("Register Item") %>
    </div>

  <% end %>
</div>
