<% @page_title = 'Register Item' %>

<%= link_to("<< Back to Home", {:controller => 'tracker', :action => 'index'}) %>
<br />
<%= link_to("<< Back to Item List", {:action => 'list'}) %>

<div class="item new">
  <h2>New Item</h2>

  <%= form_for(:item, :url => {:action => 'create'}) do |f| %>

    <%= render(:partial => 'form_table', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Item") %>
    </div>

  <% end %>
</div>
